@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/* main start */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Poppins', sans-serif;
}

ul {
    list-style-type: none;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1440px;
    height: 1198px;
    background-color: #FAFBFF;
}

/* main end */


/* dashboard start */
.dash__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dash__block {
    display: flex;
    flex-direction: row;
}

.dash__sidebar {
    width: 306px;
    box-shadow: 0px 10px 60px 0px #E2ECF980;
    height: 100%;
    color: #fff;
    padding: 36px 0 0 28px;
    position: relative;
}

.dash__sidebar-logo {
    padding: 3px 0 3px 3px;
    width: 195px;
    height: 39px;
}

.dash__sidebar-logo__link {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dash__sidebar-logo__img {
    width: 37px;
    height: 37px;
    object-fit: cover;
}

.dash__sidebar-logo__title {
    font-size: 26px;
    color: #000;
    font-weight: 600;
    line-height: 39px;
    letter-spacing: 0.01em;
    text-align: left;
    position: relative;
}

.dash__sidebar-logo__version {
    position: absolute;
    font-size: 10px;
    color: #838383;
    font-weight: 500;
    line-height: 15px;
    letter-spacing: -0.01em;
    text-align: left;
    bottom: 6px;
    right: -22px;
}

.dash__sidebar-menu {
    margin-top: 53px;
}

.dash__sidebar-menu__list {
    display: flex;
    flex-direction: column;
}

.dash__sidebar-menu__item {
    margin-bottom: 10px;
    border-radius: 8px;
    cursor: pointer;
    max-width: 250px;
    height: 46px;
}

.dash__sidebar-menu__link {
    display: flex;
    align-items: center;
    padding: 11px 9.5px;
    width: 250px;
    height: 46px;
    border-radius: 8px;
    position: relative;
    transition: all .5s ease-in-out;
}

.dash__sidebar-menu__item:hover, 
.dash__sidebar-menu__item.active {
    background-color: #5932EA;
    transition: all .5s ease-in-out;
}

.dash__sidebar-menu__item:hover .dash__sidebar-menu__text,
.dash__sidebar-menu__item.active .dash__sidebar-menu__text {
    color: #fff;
}

.dash__sidebar-menu__item .dash__sidebar-menu__link  {
    color: #9197B3;
    transition: all .5s ease-in-out;
}

.dash__sidebar-menu__item .dash__sidebar-menu__arrow {
    stroke: #9197B3;
    color: #fff;
    transition: all .5s ease-in-out;
}

.dash__sidebar-menu__item:hover .dash__sidebar-menu__arrow,
.dash__sidebar-menu__item.active .dash__sidebar-menu__arrow {
    stroke: #fff;
}

.dash__sidebar-menu__item:hover .dash__sidebar-menu__icon,
.dash__sidebar-menu__item.active .dash__sidebar-menu__icon {
    color: #fff;
}

.dash__sidebar-menu__icon {
    width: 24px;
    height: 24px;
    object-fit: cover;
    margin-right: 14px;
    transition: all .3s ease-in-out;
}

.dash__sidebar-menu__text {
    font-size: 14px;
    color: #9197B3;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: -0.01em;
    transition: all .3s ease-in-out;
}

.dash__sidebar-menu__arrow {
    height: 16px;
    width: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    right: 8px;
    transform: translateY(-50%);
    transition: all .3s ease-in-out;
}

.dash__user-1 {
    position: absolute;
    bottom: 76px;
    left: 28px;
    width: 155px;
    height: 42px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dash__user-1 .dash__user-img {
    width: 42px;
    height: 42px;
    object-fit: cover;
}

.dash__user-1 .dash__user-details {
    display: flex;
    flex-direction: column;
}

.dash__user-1 .dash__user-title {
    font-size: 14px;
    color: #000;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0.01em;
    text-align: left;
}

.dash__user-1 .dash__user-text {
    font-size: 12px;
    color: #757575;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.01em;
    text-align: left;
}

.dash__main {
    padding: 41px 95px 41px 71px;
}

.dash__user-2 {
    width: 176px;
    height: 36px;
    color: #000;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
    white-space: nowrap;
}

.dash__content {
    padding: 30px 38px; 
    margin-top: 51px;
    box-shadow: 0px 10px 60px 0px #E2ECF980;
    background-color: #fff;
    width: 968px;
}

.dash__content-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dash__content-text {
    display: flex;
    flex-direction: column;
}

.dash__content-text__title {
    width: 155px;
    height: 33px;
    color: #000;
    font-size: 22px;
    font-weight: 600;
    line-height: 33px;
    letter-spacing: -0.01em;
    text-align: left;
}

.dash__content-text__desc {
    margin-top: 7px;
    width: 111px;
    height: 21px;
    color: #16C098;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: -0.01em;
    text-align: left;
}

.dash__content-search {
    width: 216px;
    height: 38px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.dash__content-search input {
    width: 100%;
    padding: 10px 40px;
    border: none;
    outline: none;
    background-color: #F9FBFF;
}

.dash__content-search input::placeholder {
    font-size: 12px;
    color: #B5B7C0;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.01em;
    text-align: left;
}

.dash__content-search svg {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 8px;
}

table.dash__content-table
{
  border-collapse: collapse;
}

.dash__content-table {
    width: 100%;
    max-width: 886px;
    margin-top: 40px;
}

.dash__content-table tr {
    border-bottom: 1px solid #eee;
}

.dash__content-table tr th {
    font-size: 14px;
    color: #B5B7C0;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: -0.01em;
    text-align: left;
    padding: 7px 0;
}

.dash__content-table tr td {
    color: #292D32;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: -0.01em;
    text-align: left;
    padding: 20px 0;
}

.dash__content-table tr th:last-child {
    text-align: center;
}

.dash__content-table tr td:last-child {
    text-align: center;
}

.dash__content-table tr td button {
    width: 80px;
    height: 29px;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: -0.01em;
    text-align: left;
    text-align: center;
    padding: 4px 12px;
    border-radius: 4px;
    border: 1px solid #DF0404;
    background-color: #FFC5C5;
    color: #DF0404;
    font-family: Poppins; 
    cursor: pointer;
}

.dash__content-table tr td button.active {
    border: 1px solid #00B087;
    color: #00B087;
    background-color: rgba(22, 192, 152, 0.38);
}

.dash__content-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 886px;
    padding: 0px 52px 0 0;
    margin-top: 32px;
}

.dash__content-bottom .dash__content-bottom_data {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: -0.01em;
    text-align: left;
    color: #B5B7C0;
}

.dash__content-bottom__pagination {
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    position: relative;
}

.dash__content-bottom__pagination li {
    width: 25px;
    height: 24px;
    padding: 6px 9px 6px 9px;  
    border: 1px solid #EEEEEE; 
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F5F5F5;
    cursor: pointer;
}

.dash__content-bottom__pagination  li  a {
    color: #404B52;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 500;
    line-height: 12px;
    text-align: center;
}

.dash__content-bottom__pagination  li.next,
.dash__content-bottom__pagination  li.prev {
    position: absolute;
    color: #404B52;
    top: 0;
    width: 26px;
    height: 24px;
    font-size: 12px;
    font-weight: 500;
    line-height: 12px;
}

.dash__content-bottom__pagination li.empty a {
    color: #000;
}

.dash__content-bottom__pagination li:hover,
.dash__content-bottom__pagination li.active {
    background-color: #5932EA;
}

.dash__content-bottom__pagination li:hover a,
.dash__content-bottom__pagination li.active a {
    color: #fff;
}

.dash__content-bottom__pagination  li.prev {
    left: -37px;
}

.dash__content-bottom__pagination  li.next {
    right: -37px;
}

/* dashboard end */


/* responsive start */
@media screen and (max-width: 768px) {
    .dash__block {
        flex-direction: column-reverse;
        justify-content: space-between;
        height: 100vh;
    }
    .dash__sidebar {
        width: 100%;
        height: auto;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .dash__sidebar-logo {
        margin-bottom: 15px;
    }

    .dash__user-1 {
        display: none;
    }
    .dash__sidebar-menu {
        margin-top: 0;
        padding: 0 ;
        box-shadow: 5px 5px 20px rgba(0,0,0,.2);
        margin-bottom: 15px;
        max-height: 46px;
        border-radius: 8px;
        overflow: hidden;
    }
    .dash__sidebar-menu__list {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        gap: 12px;
    }
    .dash__sidebar-menu__link {
        width: 46px;
        overflow: hidden;
    }
    .dash__sidebar-menu__text {
        display: none;
    }

    .dash__main {
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .dash__content {
        padding: 0;
        max-width: 380px;
        width: 100%;
        margin-top: 110px;
        overflow-x: auto;
    }

    .dash__content-top {
        position: absolute;
        top: 100px;
        left: 20px;
    }
    .dash__content-text__title {
        font-size: 16px;
    }
    .dash__content-text__desc {
        margin-top: 0;
    }
    .dash__content-search svg {
        left: unset;
        right: 8px;
    }
    .dash__content-table {
        width: 100%;
        margin-top: 40px;
    }

    .dash__content-table tr th {
        padding: 1px 5px 1px 2px;
        font-size: 12px;
        white-space: nowrap;
    }
    .dash__content-table tr td {
        padding: 1px 5px 1px 2px;
        font-size: 12px;
        font-weight: 400;
        text-align: right;
        max-width: 110px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    .dash__content-table tr td button {
        width: 70px;
        padding: 3px 7px;
        font-size: 14px;
    }

    .dash__content-table tbody {
        display: flex;
        flex-direction: row;
        justify-content: start;
        padding: 10px 0 20px;
    }
    .dash__content-table tr {
        display: flex;
        flex-direction: column;
        border-bottom: unset;
        gap: 10px;
    }
    .dash__content-table tr:nth-child(1) {
        background-color: #fcf9f9;
        position: sticky;
        left: 0;
    }
    .dash__content-table tr td:nth-child(1) {
        font-weight: 500;
    }

    .dash__user-2 {
        margin-top: 20px;
        font-size: 18px;
    }

    .dash__content-bottom {
        position: absolute;
        bottom: 40vh;
        left: 0;
        width: 100%;
        padding: 0 20px;
        flex-direction: column;
        gap: 10px;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 390px) {
    .dash__content-search {
        width: 200px;
    }
    .dash__content {
        width: 360px;
    }
    .dash__user-2 {
        margin-left: 10px;
    }
}

/* responsive end */
